/* *{
    margin: 0px;
    padding: 0px;
} */
.navbar{
  padding: 5px;
  margin: 5px;
  background-color: rgb(0, 0, 0);
  height: 5vh;
  color: white;
}
.navbar a {
  color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.primary{
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.secondary{
  display: flex;
  width: 10%;
  justify-content: space-between;
}
#wraper{
  display: flex;
  justify-content: space-evenly;
  background: black;
  color: white;
  border-bottom: 8px solid #222;
}
.textKids div {
  margin-top: 20vh;
}
#textStyle{
  font-size: 40px;
}
.card{
  display: flex;
  justify-content: space-evenly;
  background: black;
  color: white;
  border-bottom: 8px solid #222;
}
.cardText{
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.cardText h1{
  font-size: 2.5rem;
}
.cardText h2{
  font-size: 2rem;
}
.downlowdFilmsPart{
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  padding-bottom: 50px;
  border-bottom: 8px solid #222;
}
.textDownload{
  font-size: 1.5rem;
  margin-top: 15vh;
}
.cardImg{
  position:relative;
}
.cardAnimation{
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  width: 55vh;
  height: 15vh;
  background-color: black;
  margin-left: 25vh;
  position: absolute;
  margin-top: -20vh;
  border-color: rgb(38, 39, 44);
}
.strangerThing{
  padding: 10px;
}
.sh{
  padding-top: 15px;
  font-size: 24px;
  margin-bottom: 0px;
}
.dl{
  font-size: 14px;
  color: #0071EB;
  margin-top: 0px;
}
.advantage{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 1200px;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}
.title{
  padding-top: 15px;
  background-color: black;
  color: white;
}

.btn{
  background-color: #303030;;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150vh;
  height: 60px;
  text-align:center;
  line-height:1.5em;
  padding-top: 7px;
}



.btn-container{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}
.btn div{
  padding: 15px;
}

.btn-container p{
  width: 100%;
  height: 100%;
}
h3{
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.HidenText{
  display: none;
}

.show {
  display: block;
}
.Get_Started_Btn{
  background-color: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  cursor: pointer;
}
/* .input_Btn{
  background-color: rgb(120, 1, 255);
} */
input{
  width: 30%;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 16px;
  position: relative;
}
input::placeholder {
  font-size: 1.2em;
  font-style: italic;
}